.header {
  height: 80px;
  background-color: #1c2b35;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 140px;
  padding-right: 140px;
}
.header img {
  width: 160px;
}
.header-menu a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  padding-left: 40px;
}
.header-menu a:hover {
  text-decoration: underline;
  color: orangered;
}
